$liberbee-bluey-grey-color: #acb3c1;
$liberbee-steel-color: #7a8392;
$liberbee-steel2-color: #808399;
$liberbee-link-color: #4a90e2;
$liberbee-slate-color: #434c5e;
$liberbee-slate2-color: #434c5f;
$liberbee-warm-grey-color: #9b9b9b;
$liberbee-primary-color: #4a4a4a;
$liberbee-deep-blue-color: #1a87ef;
$liberbee-accent-color: #ff5a60;
$liberbee-lightgrey1-color: #d3d3d3;
$liberbee-lightgrey2-color: #efefef;
$liberbee-lightgrey3-color: #e5e5e5;
$liberbee-lightgrey4-color: #f4f4f4;
$liberbee-light-pink-color: #fff7f7;
$liberbee-light-pink2-color: #fededf;
$liberbee-lend-color: #3bb449;
$liberbee-giveaway-color: #f79324;
$liberbee-cloudy-blue-color: #c6ccd7;
$liberbee-cloudy-blue2-color: #d4d9e2;
$liberbee-cloudy-blue3-color: #b3bddd;
$liberbee-beige-color: #f5ebd4;
$liberbee-watermelon-color: #ff4d65;
$liberbee-coral-pink-color: #ff5266;
$liberbee-pale-grey-color: #f4f7fb;
$liberbee-pale-grey2-color: #dee2ed;
$liberbee-pale-grey3-color: #f5f6fb;
$liberbee-brownish-grey-color: #5c5c5c;
$liberbee-purplish-grey-color: #6e6a6f;
$liberbee-light-blue-grey-color: #d9def0;
$liberbee-duck-egg-blue-color: #f5f8fd;
$liberbee-cool-grey-color: #a5aab3;
$liberbee-new-color: $liberbee-lend-color;
$liberbee-excellent-color: $liberbee-link-color;
$liberbee-good-color: #f5a623;
$liberbee-notBad-color: #a9a4a4;


$liberbee-base-animation-time: .3s;
$liberbee-fast-animation-time: .1s;

$liberbee-box-shadow1: -5px 1px 22px 0 rgba(255, 96, 103, 0.11);
$liberbee-box-shadow2: -5px 1px 22px 0 rgba(219, 134, 138, 0.11);
$liberbee-box-shadow3: 0 3px 24px rgba(0,0,0,.35);
$liberbee-box-shadow4: 0 3px 24px rgba(0,0,0,.05);
$liberbee-box-shadow5: -1px 1px 7px 0 rgba(152, 144, 145, 0.17);