.l-messages {
  padding: 0;
}


.l-messagesUserInfo {
  box-shadow: $liberbee-box-shadow1;
}

.l-conversationsListContent, .l-messagesUserInfoContent{
  height: 100%;
}

.l-conversationActions{
  display: none;
}

@include media-breakpoint-down(sm) {
  .l-conversationsList, .l-messagesUserInfo {
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    z-index: 2;
  }

  .l-conversationsListContent, .l-messagesUserInfoContent{
    width: 100%;
    transform: translateZ(0);
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .l-conversationsListContent {
    max-width: 250px;
  }

  .l-messagesUserInfoContent {
    max-width: 100%;
  }

  .l-conversationsListClose, .l-messagesUserInfoClose {
    display: block;
    background: url('/img/icons/close.svg');
    width: 15px;
    height: 15px;
    right: 19px;
    background-size: 100% 100%;
    top: 20px;
    position: absolute;
  }

  .l-conversationsListBg, .l-messagesUserInfoBg {
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
  }


  .l-conversationsList, .l-messagesUserInfo{
    display: none;
  }

  .l-conversationsList-is-visible, .l-messagesUserInfo-is-visible, .l-messagesList-is-visible {
    display: block;
  }
}
