input[type="checkbox"] {
  display: none;
  + label {
    display: flex;
    align-items: center;
    font-size: 16px;
    &:before {
      content: "";
      position: relative;
      margin-right: 10px;
      width: 18px;
      height: 18px;
      display: inline-block;
      background: url('/img/icons/checkbox-off.svg') no-repeat;
      background-position: -3px;
      //@include sharedIcon(icon-checkbox-darkgrey-14x14);
    }
    &:hover {
      cursor: pointer;
    }
  }
  &:checked + label {
    // todo: mike, change to bold in filter, please)
    //font-weight: $font-bold;
    &:before {
      background: url('/img/icons/checkbox.svg') no-repeat;
      //@include sharedIcon(icon-checkboxchecked-darkgrey-14x14);
    }
  }
  &[disabled] + label {
    color: #888;
    &:before {
      //@include sharedIcon(icon-checkboxdisabled-darkgrey-14x14);
    }
    &:hover {
      cursor: auto;
    }
  }
  &:checked[disabled] + label {
    color: #888;
    &:before {
      //@include sharedIcon(icon-checkboxcheckeddisabled-darkgrey-14x14);
    }
  }
}