.infoItem {
  display: flex;
  margin-bottom: 8px;
}

.infoItem-noMargin {
  margin-bottom: 0;
}

.infoItem-center {
  justify-content: center;
}

.infoItem--label {
  color: $liberbee-warm-grey-color;
  font-weight: 300;
  margin-right: 10px;
}

.infoItem--value {
  min-width: 0;

}

.infoItem-cutValue {
  .infoItem--value {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    flex: 1;
    text-align: left;
  }
}